extends ./Main_Layout.pug

block styles_1
    link(rel='stylesheet' href="/css/index.css")
    link(rel='stylesheet' href="/css/table.css")
    link(rel='stylesheet' href="/css/link.css")
block content
    br
    br
    br
    br
    br
    div(class="Users_heading" style="text-align: center")
        h1(style="color:white; text-shadow: 1px 1px 2px black, 0 0 25px silver, 0 0 5px darkblue;") AI Projects  
    br
    br
    table(class="table table-hover table-striped" style="box-shadow: 10px 10px 5px #888; width: 70%")
        thead(class="head" style="background-color: grey; color: white; background-image: linear-gradient(-90deg, grey, rgb(12, 106, 160, 0.3));")
            tr 
                th(scope='col') Project/ Code
                th(scope='col') Type (ML/DL/NLP/DS/AI)
                th(scope='col') Description
                th(scope='col') Programming Language
                th(scope='col') Uploaded By
                th(scope='col') Download

        tbody
            each proj in projectsVariables.projects
                a(href="/Projects/" + proj._id)
                    tr
                        td=proj.name
                        td=proj.type
                        td=proj.descr
                        td=proj.lang
                        td=proj.userName
                        td
                            div(id="buttonDownload" style="text-align: center")
                                a(href="/downloadproject/" + proj._id class="btn btn-info") Download
    br